<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <link href="/favicon.png" rel="icon" sizes="48x48" type="image/png" />
    <title>bbbs</title>
</head>

<body>
    <div class="page-layout">
        <header class="page-header">
            <div class="site-title"><a href="/">bbbs</a></div>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">/</a></li>
                    <li><a href="/threads">/threads</a></li>
                </ol>
            </nav>
        </header>

        <main class="page-body">
            <section class="thread-list">
                <h1>threads</h1>
                {% if !threads.is_empty() %}
                <table>
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>first message</th>
                            <th>last message</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for thread in threads %}
                        <tr>
                            <td><a href="/threads/{{ thread.id }}"><code>{{ thread.id }}</code></a></td>
                            <td>
                                <div>{{ thread.messages[0].number }}: <time datetime="{{ thread.created_at }}">{{
                                        thread.created_at }}</time></div>
                                <div>{{ thread.messages[0].content }}</div>
                            </td>
                            <td>
                                <div>{{ thread.last_message.number }}: <time
                                        datetime="{{ thread.last_message.created_at }}">{{
                                        thread.last_message.created_at
                                        }}</time></div>
                                <div>{{ thread.last_message.content }}</div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                <p>There are no threads.</p>
                {% endif %}
            </section>

            <section class="new-thread">
                <form action="/threads" method="post">
                    <input autofocus="autofocus" name="content" placeholder="please enter a message" required="required"
                        type="text" />
                    <button type="submit">create thread</button>
                </form>
            </section>
        </main>
    </div>
</body>

</html>
