<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <link href="/favicon.png" rel="icon" sizes="48x48" type="image/png" />
    <title>bbbs</title>
</head>

<body>
    <div class="page-layout">
        <header class="page-header">
            <div class="site-title"><a href="/">bbbs</a></div>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">/</a></li>
                    <li><a href="/threads">/threads</a></li>
                </ol>
            </nav>
        </header>

        <main class="page-body">
            <section class="thread-list">
                <h1>threads</h1>
                <ul>
                    {% for thread in threads %}
                    <li>
                        <div>
                            <a href="/threads/{{ thread.id }}"><code>{{ thread.id }}</code></a>
                            <time datetime="{{ thread.created_at }}">{{ thread.created_at }}</time>
                        </div>
                        <div>
                            <span>{{ thread.messages[0].content }}</span>
                            <span>({{ thread.replies_count }})</span>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </section>

            <section class="new-thread">
                <form action="/threads" method="post">
                    <input type="text" name="content" placeholder="please enter a message" required="required" />
                    <button type="submit">create thread</button>
                </form>
            </section>
        </main>
    </div>
</body>

</html>
