<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <link href="/favicon.png" rel="icon" sizes="48x48" type="image/png" />
    <title>bbbs</title>
</head>

<body>
    <div class="page-layout">
        <header class="page-header">
            <div class="site-title"><a href="/">bbbs</a></div>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">/</a></li>
                    <li><a href="/messages">/messages</a></li>
                    <li><a href="/messages/{{ message.id }}">/messages/{{ message.id }}</a></li>
                </ol>
            </nav>
        </header>

        <main class="page-body">
            <section class="message-list">
                <h1>message</h1>
                <div>
                    <p><a href="/threads/{{ message.thread_id }}">/threads/{{ message.thread_id }}</a></p>
                    <p>{{ message.content }}</p>
                    <p><a href="/messages/{{ message.id }}"><time datetime="{{ message.created_at }}">{{
                                message.created_at }}</time></a></p>
                </div>
            </section>
        </main>
    </div>
</body>

</html>
