<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8" />
    <link href="/favicon.png" rel="icon" sizes="48x48" type="image/png" />
    <title>bbbs</title>
</head>

<body>
    <div class="page-layout">
        <header class="page-header">
            <div class="site-title"><a href="/">bbbs</a></div>
            <nav class="breadcrumbs">
                <ol>
                    <li><a href="/">bbbs</a></li>
                    <li><a href="/messages">messages</a></li>
                </ol>
            </nav>
        </header>

        <main class="page-body">
            <section class="message-list">
                <h1>messages</h1>
                <ul>
                    {% for message in messages %}
                    <li>
                        {{ message.content }}
                        <a href="/messages/{{ message.id }}"><time datetime="{{ message.created_at }}">{{
                                message.created_at }}</time></a>
                    </li>
                    {% endfor %}
                </ul>
            </section>
        </main>
    </div>
</body>

</html>
